<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airam.helpfisio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".calculos.VolumeCorrente" />
        <activity android:name=".ListaCalculos" />
        <activity android:name=".ListaCadastros" />
        <activity android:name=".calculos.PesoIdeal" />
        <activity android:name=".calculos.PArterialO2"/>
        <activity android:name=".calculos.CapacidadeVitalLenta"/>
        <activity android:name=".view.PacienteView"/>
        <activity android:name=".view.MedicoView"/>
        <activity android:name=".view.LeitoView"/>
        <activity android:name=".view.HospitalView"/>
        <activity android:name=".view.FisioterapeutaView"/>
        <activity android:name=".view.ConsultaMedicoView"/>
        <activity android:name=".view.ConsultaFisioView"/>
        <activity android:name=".view.CalculosView"/>
    </application>

</manifest>